.Tab {
  text-align: center;
  font-size: 24px;
  padding: 6px 36px;
  color: rgba(255,255,255, 0.7);
  /* border-bottom: 3px solid rgba(0,0,0,0); */
  position: relative;
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.Tab_active{
  border-color: red;
  transition: color 0.3s;
  color: white;

}

.Tab::after{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  color: red;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s;
}
.Tab_active::after{
  background-color: red;
}
